<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <button class="lead btn btn-lg">
        <a href="/images" style="text-decoration: none">Back to Images</a>
      </button>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= image.image %>" />
        <div class="caption-full">
          <% if(image.forSale) { %>
          <h4 class="pull-right">On the market for: $<%= image.price.toFixed(2) %></h4>
          <% }; %>
          <h4><a><%= image.name %></a></h4>
          <p><%= image.description %></p>
          <p>
            <em>Submitted by <%= image.author.username %></em>
          </p>
          <% if(currentUser && image.author.id.equals(currentUser._id)) {
          %>
          <button class="btn btn-warning editButton">
            <a id="editButton" href="/images/<%= image._id %>/edit"
              >Edit</a
            >
          </button>
          <form
            id="delete-form"
            action="/images/<%= image._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
          <button class="btn btn-dark editButton">
            <a
              style="text-decoration: none"
              id="downloadButton"
              href="<%= image.image %>"
              download
              >Download</a
            >
          </button>

          <hr />

          <% if (!image.forSale) { %>
          <form
            id="for-sale-form"
            action="/images/sell/<%= image._id %>?_method=GET"
            method="GET"
          >
            <button class="btn btn-info">List Image for Sale</button>
          </form>
          <% } %>

          <% if (currentUser && image.author.id.equals(currentUser._id) && image.forSale) { %>
          <form
            id="for-sale-form"
            action="/images/sell/remove/<%= image._id %>?_method=POST"
            method="POST"
          >
            <button class="btn btn-info">Remove Image for Sale</button>
          </form>
          <% } %>
          <% } %>

          <%if (currentUser && image.forSale && !(image.author.id.equals(currentUser._id))) { %>
          <hr />
          <form
            id="for-sale-form"
            action="/images/buy/<%= image._id %>?_method=POST"
            method="POST"
          >
            <button class="btn btn-info">Buy this Image</button>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
